@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="main_view_admin">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#Edit">
            <i class="fas fa-download fa-sm text-white-50"></i> Đổi ảnh nền web
        </button>
    </div> 
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#EditAdmin">
            <i class="fas fa-download fa-sm text-white-50"></i> Đổi mật khẩu admin
        </button>
    </div> 
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#EditBanner">
            <i class="fas fa-download fa-sm text-white-50"></i> Đổi ảnh banner
        </button>
    </div> 
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#Add">
            <i class="fas fa-download fa-sm text-white-50"></i> Thêm mới thông báo
        </button>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a href="javascript:void(0)" onclick="alertKOC()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <img :src="imgMainView" style="width:50%" />
        </div>
        <div class="col-6">
            
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Thông báo</th>
                        <th>Ngày thông báo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(itemNoti,index) in dataNoti" :key="index">
                        <td>{{index + 1}}</td>
                        <td>{{itemNoti.noti}}</td>
                        <td>
                            {{formatDate(new Date(itemNoti.createDate))}}
                        </td>

                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditNoti" v-on:click="getItemsById(itemNoti.id)">Sửa</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Delete" v-on:click="getItemsByIdDelete(itemNoti.id)">Xóa</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal fade" id="Edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-fullscreen ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa ảnh nền</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" >X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label"> Chọn ảnh </label>
                                <input type="file" ref="PrPath1" v-on:change="onFileChange" accept="image/*">

                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Ảnh xem trước </div>
                                <img :src="previewImage" alt="" style="width:50%" />
                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Ảnh đang có </div>
                                <img :src="imgMainView" alt="" style="width:50%" />
                            </div>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Đóng</button>
                    <button type="button" class="btn btn-primary" v-on:click="editMainView">Sửa sản phẩm</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditAdmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-fullscreen ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" >X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label"> Nhập mật khẩu mới </label>
                                <input type="text" class="form-control" v-model="passAdmin">
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Đóng</button>
                    <button type="button" class="btn btn-primary" v-on:click="editAdmin">Xác nhận</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-fullscreen ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" >X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <textarea v-model="Noti" placeholder="Thông báo" rows="10" cols="100"></textarea>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Đóng</button>
                    <button type="button" class="btn btn-primary" v-on:click="addNoti">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditNoti" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-fullscreen ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" >X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <textarea v-model="Noti" placeholder="Thông báo" rows="10" cols="100"></textarea>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Đóng</button>
                    <button type="button" class="btn btn-primary" v-on:click="editNoti">Sửa </button>

                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12 col-lg-4 col-md-4 d-flex flex-column align-items-center">
            <div>
                Ảnh banner 1
            </div>
            <img :src="imgBanner1" style="width:50%" />
        </div>
        <div class="col-sm-12 col-lg-4 col-md-4 d-flex flex-column align-items-center">
            <div>
                Ảnh banner 2
            </div>
            <img :src="imgBanner2" style="width:50%" />
        </div>
        <div class="col-sm-12 col-lg-4 col-md-4 d-flex flex-column align-items-center">
            <div>
                Ảnh banner 3
            </div>
            <img :src="imgBanner3" style="width:50%" />
        </div>
    </div>
    <div class="modal fade" id="EditBanner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-fullscreen ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa ảnh Banner</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label"> Chọn ảnh banner 1 </label>
                                <input type="file" ref="PrPath2" v-on:change="onFileChange1" accept="image/*">

                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Ảnh xem trước </div>
                                <img :src="previewImage1" alt="" style="width:50%" />
                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Ảnh đang có </div>
                                <img :src="imgBanner1" alt="" style="width:50%" />
                            </div>

                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label"> Chọn ảnh banner 2 </label>
                                <input type="file" ref="PrPath3" v-on:change="onFileChange2" accept="image/*">

                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Ảnh xem trước banner 2 </div>
                                <img :src="previewImage2" alt="" style="width:50%" />
                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Ảnh đang có banner 2 </div>
                                <img :src="imgBanner2" alt="" style="width:50%" />
                            </div>

                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label"> Chọn ảnh banner 3 </label>
                                <input type="file" ref="PrPath4" v-on:change="onFileChange3" accept="image/*">

                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Ảnh xem trước banner 3 </div>
                                <img :src="previewImage3" alt="" style="width:50%" />
                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Ảnh đang có banner 3 </div>
                                <img :src="imgBanner3" alt="" style="width:50%" />
                            </div>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" v-on:click="editMainView">Sửa ảnh</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Monthly)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (Annual)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Tasks
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Referral
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function alertKOC() {
        let timerInterval
        Swal.fire({
            title: 'Thông báo tính năng!',
            html: 'Tính năng có thể được phát triển theo yêu cầu',
            timer: 9000,
            timerProgressBar: true,
            showCloseButton: true,
            showCancelButton: true,

            didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                }, 100)
            },
            willClose: () => {
                clearInterval(timerInterval)
            }
        }).then((result) => {
            /* Read more about handling dismissals below */
            if (result.dismiss === Swal.DismissReason.timer) {
                console.log('I was closed by the timer')
            }
        })
    }
</script>
<script src="~/js/notiweb.js"></script>